In [3]:
%matplotlib inline
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/Pierian-Data/AutoArima-Time-Series-Blog/master/Electric_Production.csv",index_col=0)
data.head()

            IPG2211A2N
DATE
1985-01-01     72.5052
1985-02-01     70.6720
1985-03-01     62.4502
1985-04-01     57.4714
1985-05-01     55.3151

In [4]:
data.index

Index(['1985-01-01', '1985-02-01', '1985-03-01', '1985-04-01', '1985-05-01',
       '1985-06-01', '1985-07-01', '1985-08-01', '1985-09-01', '1985-10-01',
       ...
       '2017-04-01', '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01',
       '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01', '2018-01-01'],
      dtype='object', name='DATE', length=397)

In [5]:
data.index = pd.to_datetime(data.index)

In [6]:
data.head()

            IPG2211A2N
DATE
1985-01-01     72.5052
1985-02-01     70.6720
1985-03-01     62.4502
1985-04-01     57.4714
1985-05-01     55.3151

In [7]:
data.index

DatetimeIndex(['1985-01-01', '1985-02-01', '1985-03-01', '1985-04-01',
               '1985-05-01', '1985-06-01', '1985-07-01', '1985-08-01',
               '1985-09-01', '1985-10-01',
               ...
               '2017-04-01', '2017-05-01', '2017-06-01', '2017-07-01',
               '2017-08-01', '2017-09-01', '2017-10-01', '2017-11-01',
               '2017-12-01', '2018-01-01'],
              dtype='datetime64[ns]', name='DATE', length=397, freq=None)

In [8]:
data[pd.isnull(data['IPG2211A2N'])]

Empty DataFrame
Columns: [IPG2211A2N]
Index: []

In [9]:
data.columns = ['Energy Production']

In [10]:
data.head()

            Energy Production
DATE
1985-01-01            72.5052
1985-02-01            70.6720
1985-03-01            62.4502
1985-04-01            57.4714
1985-05-01            55.3151

In [14]:
import plotly
plotly.tools.set_credentials_file(username='vishnurmurthy', api_key='0D4CsbibR76CE7N2lf0u')

In [15]:
from plotly.plotly import plot_mpl
from statsmodels.tsa.seasonal import seasonal_decompose
result = seasonal_decompose(data, model='multiplicative')
fig = result.plot()
plot_mpl(fig)

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~vishnurmurthy/0 or inside your plot.ly account where it is named 'plot from API'

'https://plot.ly/~vishnurmurthy/0'